html
  head
    title Documento Básico
  body
    h1 Documento Básico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda veritatis expedita blanditiis, voluptatem, eveniet possimus, sit aperiam veniam rerum tenetur vel temporibus omnis. Unde necessitatibus nostrum, similique in accusamus perspiciatis.