a(name="inicio")
h2 Enlaces
a(href="http://www.aeriagames.com/") Da click aqui
&nbsp; | &nbsp;
a(href="http://www.youtube.com") Ir a Youtube
&nbsp; | &nbsp;
a(href="http://www.yahoo.com") Ir a Yahoo
a(href="http://www.google.com") Ir a Google

h2 Anclas
a(href="")
a(href="#info1") Ir a Informacion 1
&nbsp; | &nbsp;
a(href="#info2") Ir a Informacion 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(name="info1")
a(href="#inicio") Ir a inicio
h1 Informacion 1
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nesciunt explicabo, pariatur voluptatibus repellat amet laborum illo dolorum! Veritatis maxime eius, a cumque deserunt, quasi nisi. Quod repellat facere ipsum.
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href="#inicio") Ir a inicio
h1 Informacion 2
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nesciunt explicabo, pariatur voluptatibus repellat amet laborum illo dolorum! Veritatis maxime eius, a cumque deserunt, quasi nisi. Quod repellat facere ipsum.
a(name="info2")