doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista No Ordenada
  body
    ul
      li Amarillo
        ul
          li Azul
          li Rojo
          li Blanco
          li Verde
      li Hardcore
        ul
          li Demon Souls
          li Bloodborne
          li Dark Souls
      li RPG
        ul
          li Grand fantasia
          li Aura KIngdom
          li World of Warcraft
      li FPS
        ul
          li Soldier Front
          li Borderlands
          li Battlefield