doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Imagenes
  body
    img(src="https://images5.alphacoders.com/609/609173.jpg", title="Imagen de nternet" height="600")
    img(src="https://images5.alphacoders.com/609/609173.jpg", height="400")
    br
    img(src="https://images5.alphacoders.com/609/609173.jpg", height="200")