doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tablas
  body
    table(border=1)
      tr
        th Nombre completo 
        th Telefono
        th Direccion
      tr
        td Jeremias Springfield
        td 8741122
        td Calle 11 #7A - 32
      tr
        td Homero J Simpson
        td 883455
        td Calle siempre viva
      tr
        td Millhouse Van Hauten
        td 8827788
        td Cra 22 #23
   