doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Secciones tablas
  body
    table(border=1)
      tfoot
          tr
            td(colspan=3) Infomacion de Usuario
        thead
          tr
            
              th Nombres
              th Titulacion
              th Año 
        tbody
          tr
            td Hugo
            td Adsi
            td 2016
          tr
            td Paco
            td Salud Ocupacional
            td 2005
          tr
            td Luis
            td Soldadura
            td 2014 