body
	background-color #8080FF
	
section.principal
	background-color #00FFFF
	margin 50px auto
	padding 20px
	width 600px
	
h1
	color #8080FF
	font-family 'Walter'
	font-size 3.6em
	text-align center
p 
	font-family 'Catherine'
	font-size 3em
	color #8080FF
	line-height 1em
	text-align justify 

	