body
	font 16px Arial

section
	background #fff url(../imgs/card.jpg)
	height 500px
	width 335px
	h2
		background-color rgba(0,0,0,0.5)
		color #fff
		padding 8px 4px
		text-align center
		
section.rotarx
	-webkit-transform rotateX(45deg)
	transform rotateX(45deg)
	
section.rotarY
	-webkit-transform rotateY(45deg)
	transform rotateY(45deg)
	