section.animacion
	animation 0.5ms animAnimacion infinite
	
@keyframes animAnimacion
	from 
		transform translateX(0px)
	to 
		transform translateX(20px)
	
div.forma
	background-color #29eaff
	border-radius 50%
	height 200px
	margin 200px auto
	width 200px
	animation 1s animForma infinite ease-in alternate
	
@keyframes animForma
	from 
		transform translateY(0px)
	to 
		transform translateY(-80px)
	
