body
	font-family Helvetica
	font-style 18px
	
h1
	background-color #15f0d7
	text-align center
	
#div1
	background-color #f015d0
	height 200px
	width 200px
	position relative
	-webkit-animation anim1 7s linear 0.5s infinite alternate
	animation anim1 7s linear 0.5s infinite alternate
	
@keyframes anim1

0% 
	background-color purple left 0px, top 0px
25%
	 background-color pink left 200px, top 0px
50%
	background-color orange left 200px, top 200px
75%
	background-color yellow left 0px, top 200px
0% 
	background-color lime left 0px, top 0px



	