doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documento HTML 5
  body
    h1 Mi primer documento HTML 5
    p    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo fugit explicabo libero pariatur maxime distinctio accusantium et recusandae dolor, quibusdam, repellendus a, rem deleniti dignissimos totam saepe adipisci. Ad praesentium quaerat placeat animi culpa deleniti exercitationem, similique alias illum cumque nisi fugiat nesciunt quasi possimus necessitatibus dolorem veritatis doloribus sunt iusto ut, mollitia dolorum nostrum quae aspernatur iure! Voluptatum libero voluptate rerum harum maxime aliquam, voluptatibus, doloribus atque animi officiis voluptatem officia ab itaque voluptas omnis. Id vitae ut magnam adipisci veniam soluta ipsum tempore, eveniet nisi, quae, ab quo illo. Porro ex mollitia, iusto eveniet quidem id eaque.