doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipos de Entradas (Formulario)
  body
    h1 Tipos de Entradas (Formulario)
    hr
    form(method='post')
      label(for="color") Color
      input(type="color", id="color")
      br
      br
      label(for="date") Fecha de nacimiento
      input(type="date", id="date")
      br
      br
      label(for="email") Email
      input(type="email", id="email")
      br
      br
      label(for="month") Fecha
      input(type="month", id="month")
      br
      br
      label(for="range") range
      input(type="range", id="range")
      br
      br
      label(for="search") search
      input(type="search", id="search")
      br
      br
      label(for="time") Hora
      input(type="time", id="time")
      br
      br
      label(for="url") Link
      input(type="url", id="url")
      br
      br
      label(for="week") Semana
      input(type="week", id="week")
      br
      