body {
  font: 16px tahoma;
}
section {
  background: url("../imgs/woodland.jpg") no-repeat center center/cover;
  margin: 20px auto;
  padding: 10px;
  width: 600px;
}
h2 {
  color: rgba(255,255,255,0.4);
  font-size: 5em;
  margin: 8px;
  text-align: center;
}
h2 span {
  color: rgba(0,0,0,0.6);
}
p {
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.8);
  padding: 20px;
  text-align: justify;
}
