section {
  background-color: #f5bee5;
  border: 4px dotted #ba539f;
  height: 400px;
  width: 600px;
}
section div.box {
  background-color: #ba539f;
  height: 100px;
  width: 200px;
/* Margenes: forma larga */
  margin-top: 100px;
  margin-right: 130px;
  margin-bottom: 200px;
  margin-left: 250px;
/* Margenes: forma cota */
  margin: 100px 130px 200px 250px;
}
