section {
  background-color: #75f5d1;
  border: 2px solid #4885ff;
  height: 200px;
  width: 200px;
/* forma larga */
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 80px;
}
section span {
  border: 2px dotted #46857f;
  background-color: #fff;
/* forma corta */
  margin: 50px 25px 20px 80px;
}
section span {
  border: 2px dotted #46957f;
  background-color: #fff;
}