body {
  background-color: #ff80c0;
  color: #ff80c0;
  font: 16px Arial;
}
section {
  border: 10px solid #ff3e9e;
  background-color: #fff;
  height: 300px;
  margin: 40px auto;
  text-align: center;
  width: 400px;
}
section.pointer {
  cursor: pointer;
}
section.move {
  cursor: move;
}
section.wait {
  cursor: wait;
}
section.help {
  cursor: help;
}
section.image {
  cursor: url("../imgs/mario.png"), default;
}
