section#sprite {
  background: transparent url("../imgs/boy.jpg") no-repeat;
  border: 2px solid #ddd;
  height: 370px;
  margin: 20px auto;
  width: 220px;
}
section#sprite.anim1 {
  background-position: -70px -46px;
}
section#sprite.anim2 {
  background-position: -500px -46px;
}
section#sprite.anim3 {
  background-position: -700px -46px;
}
section#sprite.anim4 {
  background-position: -930px -46px;
}
section#sprite.anim5 {
  background-position: -17px -370px;
}

