section {
  		  background-color: #800080;
  		  color: turquoise;
  		  padding: 20px;
  		  margin: 8px auto;
  		  width: 400px
	    }
		h1 {
  		   color: #40e0d0;
		}
		p {
  			font-family: verdana;
		}