doctype
html(long="es")
  head
    meta(charset="UTF-8")
    title Casos (jade)
  body
    h1 Casos (jade)
    - var piñas = 24
    case piñas
      when 0
        p yo no tengo piñas
      when 15
        p yo tengo una piñas
      default
        p  tengo #{piñas} piñas
 
     - var pajaros = 8
    case pajaros
      when 0
      when 1
      when 2
      when 3
      when 4
      when 5
      when 6
        p yo tengo muchos pajaros
      default
        p yo no tengo #{pajaros} pajaros
        
        -var billetes = 5
        case billetes
          when 0: p yo no tengo billetes
          when 1: p yo tengo un billete
          default: p yo tengo #{1000} billetes