doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Comentario
  body
    h1 Comentario
    // just some paragraphs
    p foo
    p bar
    br
    
    //- will not output within markup
    p foo
    p bar