//- Herencia.jade
extends ./layout.jade

block title
  title Tirulo del Articulo

block content
  h1 Mi Articulo
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatibus sunt doloribus et beatae deserunt excepturi asperiores in quis sed itaque assumenda, incidunt maiores distinctio cupiditate fuga suscipit iste similique.
