//- 08_incluir.jade
doctype html
html
  incluide ./incluides/head.jade
  body
    h1 Mi Sitio
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illum molestiae consequatur aspernatur aliquam iste perspiciatis rerum quisquam, aperiam necessitatibus corrupti neque amet ratione vel voluptatum sequi voluptatem quis facere?
    include