section {
  background: #fce9c3 url("../imgs/paisaje.jpg") no-repeat;
  border: 100px solid transparent;
  height: 100px;
  padding: 100px;
  margin: 20px auto;
  width: 400px;
}
section.origen1 {
  background-origin: border-box;
}
section.origen2 {
  background-origin: padding-box;
}
section.origen2 h2 {
  color: #fff;
}
section.origen3 {
  background-origin: content-box;
}
