body {
  background-color: #ddd;
  font: 16px Arial;
}
section.sombras {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 600px;
}
#text1 {
  text-shadow: 0px 0px 0px #000;
}
#text2 {
  text-shadow: 4px 2px 1px #f00;
}
#text3 {
  text-shadow: 0px 8px 8px #00f;
}
p {
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
