section {
  background-color: #00df00;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  height: 250px;
  text-align: center;
  width: 250px;
}
.caja1 {
  -webkit-transform: skew(25deg, 50deg);
  transform: skew(25deg, 50deg);
}
.caja2 {
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.caja3 {
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}
.caja4 {
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
