section {
  background-color: #ff80c0;
  height: 200px;
  margin: 20px auto;
  width: 300px;
  transition: width 0.5s, height 0.5s 0.5s, transform 0.5s 1s;
}
section:hover {
  width: 600px;
  height: 400px;
  transform: rotate(45deg);
}
