div.forma {
  background-color: #00ff80;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  animation: 1s animForma infinite;
}
@-moz-keyframes animForma {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(1000px) translateY(0px);
  }
  50% {
    transform: translateX(1000px) translateY(500px);
  }
  75% {
    transform: translateX(0px) translateY(500px);
  }
}
@-webkit-keyframes animForma {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(1000px) translateY(0px);
  }
  50% {
    transform: translateX(1000px) translateY(500px);
  }
  75% {
    transform: translateX(0px) translateY(500px);
  }
}
@-o-keyframes animForma {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(1000px) translateY(0px);
  }
  50% {
    transform: translateX(1000px) translateY(500px);
  }
  75% {
    transform: translateX(0px) translateY(500px);
  }
}
@keyframes animForma {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(1000px) translateY(0px);
  }
  50% {
    transform: translateX(1000px) translateY(500px);
  }
  75% {
    transform: translateX(0px) translateY(500px);
  }
}
