color = #9e3eff
alto = 100.12px
ancho = 250.36px

section 
	height round(alto)
	margin 10px auto
	width round(ancho)
	
.caja1
	background-color lightness(color, 80%)
.caja2
	background-color lightness(color, 60%)
.caja3
	background-color lightness(color, 40%)
.caja4
	background-color complement(color)
.caja5
	background-color invert(color)
.caja6
	background-color saturate(color, 10%)
