

// Selector (comentarion de una sola linea)

section
	border 1px solid #ccc
	height 200px
	width 300px
	transition all 0.5s ease-in
	
/*
	Eventos hover
	Bloque con vaqrias lineas de comentarios
*/
section:hover
	transform scale(1.2)
	
/*!
Este tipo de comentarios si aparece cuando el archivo compilado es comprimido.
*/
