@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster');
body{
	background: url(../imgs/fondo.jpg) ;
}
h1.titulo{
	font-size: 60px;
	font-family: 'Lobster', cursive;
	color: #01b1af;
	text-shadow: 2px 2px 15px black;
	width: 500px;
	position: absolute;
	bottom: 350px;
	left: 350px;
}
div.logo{
	background: url(../imgs/logo.png) no-repeat;
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: 250px;
	left: 270px;
}
table{
	margin: 500px auto;
	border: 1px #23A79A;
	background-color: #fff;
}
img.ima{
	width: 250px;
	height: 250px;
}
th{
	font-family: 'Tahoma';
	font-size: 18px;
	color: #FF80C0;
	box-shadow: #000 2px 2px 5px;
}
td{
	font-family:  'Tahoma';
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	box-shadow: #000 3px 3px 5px;
}
button.color{
	background-color: #FA8386;
}
button.azul{
	background-color: #69C5F1; 
}
button.morado{
	background-color: #CB97FF;
	position:relative;
	top:450px;
	left:950px;
	padding:10px 20px;
}
button.amarillo{
	background-color: #FFFF80;
}
button{
	border-radius: 50px;
	box-shadow: #000 5px 5px 8px;
}
td.tlt{
	color: #FF80C0;
	text-align: center;
}
div.copy{
	position: relative;
	bottom: 450px;
	font-size: 14px;
	font-family: Arial;
	text-align: center;	
}
