body
  .margin
    background-color lime
    color lime
    padding 5em
    height 30em
    width 50em
  .border
    background-color purple
    color purple
    padding 4em
    height 20em
  .padding
    background-color aqua
    color aqua
    padding 3em
    height 15em
  .content
    background-color white
    color white
    padding 1em
    height 8em 
   
    
    
  