div
	width 250px
	height 250px
div#box1
	background-color #00f
div#box2
	background-image url("../imgs/etnica.jpg")
div#box3
	background-image url("../imgs/etnica2.jpg")
div.box 
	background-color black
	background url("../imgs/etnica2.jpg")
	display inline-block
	vertical-align top
	border 2px solid #fff
div.box span
	background-color black
	display block 
	padding 10px
	color white
div#box3-1
	background-repeat repeat 
div#box3-2
	background-repeat no repeat
div#box3-3
	background-repeat repeat
div#box3-4
	background-repeat repeat
	
	