body
	background #000 url(../imgs/muñeca.jpg) center center
	background-attachment fixed /*scroll*/
	font 16px Arial
	color #fff
	line-height 30px
	padding 50px
	text-align justify
	
p
	background-color rgba(0,0,0,.5)
	padding 40px
