body
	font 16px tahoma
section
	border 2px solid #999
	height 280px
	margin 20px auto
	padding 10px
	width 600px
section div
	display inline-block
	border 2px solid #ccc
	line-height 120px
	height 120px
	margin-right 6px
	margin-bottom 10px
	text-align center
	width 188px
section div.nomargen
	margin-right 0px
section div.grande
	width 595px
section div.mover
	background-color rgba(220,220,220, .8)
	position relative
	top 50px
	left 80px